body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5e09b;
  margin: 0;
}

h1 {
  color: #80A1BA;
  text-align: center;
  font-size: 3em;
  text-decoration: overline;
  text-shadow: -6px 4px 3px rgb(193, 192, 192);
}

p {
  color: #1b5481;
  text-align: center;
  font-size: 1.1em;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 1em;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  transition: transform 3s;
}
img:hover {
  transform: rotate(360deg);
}

form {
  background-color: #B4DEBD;
  border-radius: 1em;
  max-width: 750px;
  margin: 20px auto;
  padding: 20px;
  font-size: 1.1em;
}

input[type="radio"] {
  accent-color: #1b5481;
  margin-right: 6px;
}

input[type="submit"] {
  font-size: 1.3em;
  font-weight: bold;
  color: #1b5481;
  background-color: #fff;
  border: 3px solid #1b5481;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}
input[type="submit"]:hover {
  background-color: #1b5481;
  color: #fff;
}

a {
  text-decoration: none;
  font-size: 1.1em;
  color: #1b5481;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 15px 0;
}
a:hover {
  text-decoration: underline;
  color: #91C4C3;
}
